<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/stylesheets/styles.css" media="screen" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    

    <title>Minerva</title>
</head>

<body class="containerdetails">


  <div class ="container-fluid">

    <div class = "row">
      <div class = "col-4">
        <div class = "row">
          <img src="{{url_for('static', filename='logo.png')}}" width="100%" height="100%" class="d-inline-block align-top" alt="">
          
          <div class = "container-fluid rounded border-dark justify-content-md-center" style="background-color: #6AB3B3; margin: 1vw; border: .1vw #3E8F91 solid;" >
            <div class = "row justify-content-md-center">
              <div class="title"><b>Current Presentation</b></div>


              <ul class="nav nav-tabs" id="myTab" role="tablist" style="border: none;">
                <li class="nav-item">
                  <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true" style="color: black; margin-right: 1vw"><b style="border-bottom: #5E5E5E .1vw solid;">Info</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="authors-tab" data-toggle="tab" href="#authors" role="tab" aria-controls="authors" aria-selected="false" style="color: black; margin-right: 1vw;"><b style="border-bottom: #5E5E5E .1vw solid;">Authors</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="related-tab" data-toggle="tab" href="#related" role="tab" aria-controls="related" aria-selected="false" style="color: black; margin-right: 1vw;"><b style="border-bottom: #5E5E5E .1vw solid;">Related</b></a>
                </li>
              </ul>
              
              <div class="tab-content justify-content-md-center;" style="margin: 1vw;">
                <div class="tab-pane active" id="info" role="tabpanel" aria-labelledby="info-tab">This is the info tab. Here will be where the information will exist for info.</div>
                <div class="tab-pane" id="authors" role="tabpanel" aria-labelledby="authors-tab">This is the authors tab. Here will be where the information will exist for authors.</div>
                <div class="tab-pane" id="related" role="tabpanel" aria-labelledby="related-tab">This is the authors tab. Here will be where the information will exist for related.</div>
              </div>
              
            </div>

            <div class = "row">
              <div class = "container-fluid">
                <div class = "row">
                  <div class ="col" style="background-color: #ab7e4a; margin: .5vw; font-size: medium; border: 1px black solid ;"><b>FULL TEXT IN BROWSER --></b></div>
                </div>

                <div class = "row">
                  <div class ="col" style="background-color: #ab7e4a; margin: .5vw; font-size: medium; border: 1px black solid ;"><b>EXPORT TO ZOTERO --></b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class ="col">
        <img id="canvas" src="{{url_for('static', filename='edit.png')}}" width="100%" max-height=".5vh" class="video" alt="">

        <div class = "container-fluid" style="margin: 4px;">
          <div class = "row">

            <div class = "col-9" style="background-color: #6AB3B3; margin: 10px; border: 1px black solid ;"> 
              <div class ="container-fluid">
                <div class ="row">
                  <div class ="col">
                    <div class = "float-right"  style="color: #b7772a; font-size: xx-large;"><b>Insights</b></div>
                  </div>               
                </div>
                <div class ="row">
                  <div class = "col">
                    <p style="font-weight: bold;">   <span style="color: #ee4e7a;">Demosaicking </span> in this context refers to a digital image process used to reconstruct a full color image from incomplete color samples output originating from an image sensor.</p>
                  </div>
                </div>
                <div class = "container-fluid" style="margin-top: 1vh; margin-bottom: 1vh;">
                  <div class = "row">
                    <div class ="col" style="background-color: #9f8955; margin-right: 1vw; font-size: medium; border: 1px black solid ;"><b>More in browser</b></div>
                    <div class = "col" style="background-color: #9f8955; margin-right: 1vw; font-size: medium; border: 1px black solid ;"><b>Not what you are looking for?</b></div>
                  </div>
                </div>
              </div>
            </div>

            <div class = "col">
              <div class = "row">
                <button type="button" class="btn" style=" height: 10vh; width: 5vw; background-color: lightgray; background-image: url(/static/power.png); background-size: contain; background-repeat: no-repeat; background-position: center;"></button>
              </div>
              <div class = "row">
                <button type="button" class="btn " style="height: 10vh; width: 5vw;  background-color: lightgray; background-image: url(/static/setting.png); background-size: contain; background-repeat: no-repeat; background-position: center;"></button>
              </div>
            </div>
           
    
          </div>

        </div>

        


      </div>
    </div>


  </div>


   
  <!-- jQuery first, then Popper.js, Bootstrap JS, Google Maps, Font Awesome -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(function () {
        console.log("I am here");
    $('#myTab li:last-child a').tab('show')
    })
    </script>

    <script>

initDraw(document.getElementById('canvas'));


function initDraw(canvas) {
    var mouse = {
        x: 0,
        y: 0,
        startX: 0,
        startY: 0
    };
    function setMousePosition(e) {
        var ev = e || window.event; //Moz || IE
        if (ev.pageX) { //Moz
            mouse.x = ev.pageX + window.pageXOffset;
            mouse.y = ev.pageY + window.pageYOffset;
        } else if (ev.clientX) { //IE
            mouse.x = ev.clientX + document.body.scrollLeft;
            mouse.y = ev.clientY + document.body.scrollTop;
        }
    };

    var element = null;    
    canvas.onmousemove = function (e) {
        setMousePosition(e);
        if (element !== null) {
            element.style.width = Math.abs(mouse.x - mouse.startX) + 'px';
            element.style.height = Math.abs(mouse.y - mouse.startY) + 'px';
            element.style.left = (mouse.x - mouse.startX < 0) ? mouse.x + 'px' : mouse.startX + 'px';
            element.style.top = (mouse.y - mouse.startY < 0) ? mouse.y + 'px' : mouse.startY + 'px';
        }
    }

    canvas.onclick = function (e) {
        if (element !== null) {
            element = null;
            canvas.style.cursor = "default";
            console.log("finsihed.");
        } else {
            console.log("begun.");
            mouse.startX = mouse.x;
            mouse.startY = mouse.y;
            element = document.createElement('div');
            element.className = 'rectangle'
            element.style.left = mouse.x + 'px';
            element.style.top = mouse.y + 'px';
            canvas.appendChild(element)
            canvas.style.cursor = "crosshair";
        }
    }
}

console.log("I AM HERE DAMN IT");

    </script>
</body>



</html>