<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/stylesheets/styles.css" media="screen" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <title>Minerva</title>
</head>

<body class="containerdetails">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: center;">
                <img src="{{url_for('static', filename='logo.png')}}" width="50%" height="100%"
                    class="d-inline-block align-top" alt="">
            </div>
        </div>

        <div class = "row">
            <div class="col" style="text-align: center;">
                
            </div>
    </div>

    <script>
        setTimeout(function () {
            window.location.href = "http://127.0.0.1:5000/"; //will redirect to your blog page (an ex: blog.html)
        }, 2000);
    </script>
</body>

</html>