.containerdetails {
   background-color: #D5D5D5;
   border: black;
   border-width: 0.25vw;
   border-style: solid;
  }

.altColor1{
   background-color: red;
}


.altColor2{
   background-color: blue;
}

.video{
   margin: .5vw; border: .75vw double black; background-color: gray;}

.title{
   color: #B7762A; border-bottom:1px solid gray; width: 80%; padding-top: 1vh; font-size: 2vw;  text-align: center;
}



/* The heart of the matter */
.testimonial-group > .row {
   display: block;
   overflow-x: auto;
   white-space: nowrap;
 }
 .testimonial-group > .row > .col-4 {
   display: inline-block;
 }

 